---
import { securityHeaders } from "../assets/headers";
import Links from "../components/Links.astro";

for (const [name, value] of securityHeaders) {
  Astro.response.headers.set(name, value);
}
Astro.response.headers.set("Cache-Control", "public, max-age=3600");
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Test site</title>
    <script>
      import "htmx.org";
      import "htmx-ext-sse";

      // Properly add submitted form element params to current URL
      document.body.addEventListener("htmx:afterRequest", (e) => {
        const event = e as Event & { detail: { path: string } };
        const target = event.target;
        if (!(target instanceof HTMLFormElement)) {
          return;
        }

        const url = new URL(window.location.href);
        const params = new URLSearchParams(
          new FormData(target) as unknown as string[][],
        );
        url.search = params.toString();
        history.replaceState({}, "", url);
      });
    </script>
  </head>
  <body>
    <slot />
    <footer>
      <div id="footer-content">
        <a href="/" id="footer-logo">Test site</a>
        <ul>
          <Links />
        </ul>
        <blockquote>
          Sed blandit est nec quam vulputate, id vulputate ipsum scelerisque.
          Etiam in elit ornare, fermentum nisl vel, gravida ipsum.
        </blockquote>
      </div>
    </footer>
  </body>
</html>

<style>
  :global(*) {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  :global(:root) {
    --header-height: 5rem;
    --page-width: 60rem;
    --page-padding: 1rem;

    --color-secondary: rgba(0, 255, 255);
    --color-tertiary: rgba(255, 0, 255);

    --drop-shadow-small: 0.15rem 0.15rem 1rem rgba(0, 0, 0, 0.1);
    --drop-shadow-large: 0 0 1rem rgba(0, 0, 0, 0.15);
  }
  :global(body) {
    margin: 0;
  }
  :global(header) {
    background-color: var(--color-secondary);
  }
  :global(:is(header, main) + * *) {
    scroll-margin-top: var(--header-height);
  }
  :global(.page-width) {
    max-width: var(--page-width);
    margin: 0 auto;
    padding: var(--page-padding);
  }
  :global(a) {
    display: inline-block;
    color: CanvasText;
    transition-property: color, translate, text-shadow;
    transition-timing-function: ease-out;
    transition-duration: 0.1s;
  }
  :global(a:hover, a:focus-visible, a:active) {
    color: rgba(255, 0, 255, 0.7);
    translate: -0.05em -0.025em;
    text-shadow:
      0.1em 0.05em 0 rgba(0, 255, 255, 0.7),
      0.07em 0.03em 0 CanvasText;
  }
  footer {
    width: 100%;
    padding: 0 var(--page-padding);
    box-shadow: var(--drop-shadow-small);
    background-color: var(--color-tertiary);

    & #footer-content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      max-width: var(--page-width);
      margin-left: auto;
      margin-right: auto;
      padding: var(--page-padding);
      gap: 2em;

      & #footer-logo {
        text-decoration: none;
        margin: 0;
        font-size: 3rem;
      }

      & blockquote {
        width: 19rem;
      }
    }
  }
</style>
